# IntelliJ / JetBrains
.idea/
*.iml

# VS Code
.vscode/

# Java / Spring Boot
**/target/
**/.mvn/
**/.classpath
**/.project
**/.settings/

# Node
**/node_modules/
**/dist/
**/.vite/

# Logs
*.log

# Sistema
.DS_Store
Thumbs.db

# Ambiente
**/.env
**/.env.local